.container {
  margin-top: 20px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100%;
  padding: 30px;
  border: 1px solid #efefef;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #7a7a7a;
}
